@import "global";

.container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  section {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
  }
}

.content {
  position: relative;
  width: 100%;
  max-width: has(sm);
  padding: 1.6rem 2.4rem;
  top: $navbarHeight;
  h1 {
    text-align:left;
    margin: 1.5rem 0;
  }
  h2 {
    margin: 1rem 0;
  }
  h3 {
    text-align: center;
  }
  p {
    margin: 1rem 0;
  }
  td, th {
    border: 1px solid has(clr-text-inverse);
    padding: 0.4rem;
  }
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: $clr-primary;
    color: has(clr-text);
  }
}
