@import "global";

.container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.content {
  position: relative;
  width: 100%;
  max-width: has(sm);
  padding: 1.6rem 2.4rem;
  top: $navbarHeight;

  :where(section) {
    position: relative;
    width: 100%;

    margin-bottom: 8em;
  }

  :where(h1) {
    position: relative;
    margin-bottom: 0.5em;
  }

  :where(h2) {
    position: relative;
    font-weight: 400;
    margin-top: 2em;
    margin-bottom: 0.5em;
  }

  :where(h3) {
    position: relative;
    margin-top: 2em;
    margin-bottom: .5em;
    font-weight: 400;
    color: $clr-neutral-8;
  }

  :where(p) {
    position: relative;
    margin-bottom: 1em;
  }

  :where(ul) {
    position: relative;
    margin-top: 0.5em;
    margin-bottom: 2em;
  }

  :where(li) {
    position: relative;
    &:not(:last-of-type) {
      margin-bottom: 1em;
    }
  }

  td,
  th {
    border: 1px solid has(clr-text-inverse);
    padding: 0.4rem;
  }
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: $clr-primary;
    color: has(clr-text);
  }
}

.ulTitle {
  margin-bottom: 0;
}

.highlight {
  background-color: $clr-neutral-2;
  color: $clr-neutral-8;
  padding: 0.1em .5em;
  border-radius: .5rem;
}
