@import 'global';

 .dropdown {
    position: absolute;
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    display: block;
    @include themify(){
        background-color: has(clr-bg);
    }
}
 .dropdown .dropdown_inner {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    padding: 25px 40px;
}
 .dropdown .dropdown_inner ul {
    margin: 0px;
    list-style-type: none;
}
 .dropdown .dropdown_inner ul li {
    margin: 0px;
    float: left;
    width: 100%;
}
 .dropdown .dropdown_inner ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 0px 0px;
    @include themify(){
        color: has(clr-text);
    }
}