@import 'global';

.container { 
    display: flex;
    height: calc(100vh - 7rem);
    width: 100%;
    @include themify() {
        background-color: has(clr-bg-inverse);
      }
    justify-content: center;
}
.content {
    max-width: map-get($map: $breakpoints, $key: lg);
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}