// TYPOGRAPHY
body {
  font-size: 1.6rem; //16px;
  font-family: $font-sans;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
li,
p {
  margin: 0;
}

:where(h1) {
  font-size: 4em;
  font-weight: 700;
  letter-spacing: -0.04em;
  text-transform: capitalize;

  @include baseThemify() {
    color: has(clr-h1);
  }

  @include respondMax(sm) {
    letter-spacing: normal;
  }
}

:where(h2) {
  font-size: 2.56em;
  font-weight: 700;
  letter-spacing: -0.016em;
  line-height: 1.3em;
  @include baseThemify() {
    color: has(clr-text);
  }
}

:where(h3) {
  font-size: 1.6em;
  font-weight: 600;
  letter-spacing: -0.008em;
  text-transform: capitalize;

  @include baseThemify() {
    color: has(clr-bg-inverse);
  }
}

:where(h4) {
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: -0.032em;
  text-transform: capitalize;

  @include baseThemify() {
    color: has(clr-h4);
  }
}
:where(p) {
  font-size: 1em;
font-weight: 400;
letter-spacing: -0.016em;
line-height: 1.6em;
}