@import "global";

.container {
  display: flex;
  width: 100%;
  @include themify(){
    background-color: has(clr-bg);
  }
  justify-content: center;
  padding-top: 15em;
}
.content {
  width: 90%;
  display: flex;
  flex-direction: column;
  hr{
    width: 100%;
  }
}
.contentTop{
  display: flex;
  padding: 2em 0;
  h3 {
    text-transform: none;
  }
}
.socialContainer {
  display: flex;
  margin: 2em 0;
}
.webDesign {
  display: flex;
  @include respondMax(md) {
    flex-direction: column;
  }
}
.legal {
  display: flex;
  justify-content: space-between;
  padding: 3em 0;
  span {
    cursor: pointer;
    color: $clr-neutral-7;
    &:not(:first-of-type) {
      margin-left: 1em;
    }
    &:hover {
      color: $clr-neutral-5;
    }
  }
  p,span {
    color: $clr-neutral-6;
  }
  @include respondMax(md) {
    font-size: 0.8em;
  }
}

.legalLeft {
  display: flex;
}
.cta {
  display: flex;
  align-items: center;
  margin-bottom: 5em;
  cursor: pointer;
  &:hover {
    .hoverUnderline:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    .arrow {
      animation: slide1 1s ease-in-out infinite;
    }
    @keyframes slide1 {
      0%,
      100% {
        transform: translate(0, 0);
      }
    
      50% {
        transform: translate(10px, 0);
      }
    }
  }
  .hoverUnderline {
    display: inline-block;
    position: relative;
    padding: 0.2em 0;
    @include themify(){
      color: has(clr-text);
    }
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
      @include themify(){
        background-color: has(clr-bg-inverse);
      }
    }
  }
}
.arrow {
  height: 5rem;
  width: 13rem;      
  margin-left: 1rem;
}
