@import "global";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: has(lg);
  justify-content: center;
  align-items: center;
}

.tabsContainer {
  position: sticky;
  top: $navbarHeight;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $clr-neutral-1;
  padding: 1em;
  z-index: 1;
}

.tab {
  position: relative;
  border-radius: 0.5rem;
  padding: 0.5em 0.8em;
  text-align: center;
  color: $clr-neutral-5;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 0.16em;
  text-transform: uppercase;

  &:not(:last-of-type) {
    margin-right: 1.6rem;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0rem;
    left: 50%;

    transform: translateX(-50%);
    background-color: $clr-neutral-5;

    width: 0;
    height: 0.1rem;

    transition: width 0.2s ease-in-out;
  }

  &:hover::after {
    width: 100%;
  }
}

.activeTabs {
  h2 {
    @include themify() {
      color: has(clr-text);
    }
  }
}

.contentTabs {
  width: 100%;
  display: flex;
  &::-webkit-scrollbar {
    width: 0.8rem;
  }
  &::-webkit-scrollbar-track {
    background-color: $clr-neutral-2;
    border-radius: 0.6rem;
  }
  &::-webkit-scrollbar-thumb {
    @include themify() {
      background: linear-gradient(transparent, has(clr-text));
    }
    border-radius: 0.6rem;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, $clr-primary);
  }
}
.content {
  position: sticky;
  background: #222831;
  width: 100%;
  max-width: 40rem;
  height: 100%;
  display: none;
}

.disabled {
  color: $clr-neutral-2;
  cursor: default;
}
