@import "global";

.container {
  display: flex;
  height: auto;
  width: 90%;
  @include themify() {
    background-color: has(clr-bg);
  }
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.team {
  width: 100%;
  display: flex;
  justify-content: center;
}
.left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.right {
  position: sticky;
  top: 7rem;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  @include respondMax(md) {
    display: none;
  }
}
.heading {
  display: flex;
  height: 4.5rem;
  width: 100%;
  align-items: center;
  position: relative;
  margin: 2em 0;
  span {
    margin: 0 1em;
  }
  .blogo {
    height: 4rem;
    width: 4rem;
  }
}
.tabsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.tabs {
  text-align: center;
  width: 100%;
  cursor: pointer;
  position: relative;
  opacity: 0.5;
  margin: 0.5em 0;
  text-align: left;
}
.activeTabs {
  opacity: 1;
}
.content {
  width: 100%;
  height: 100%;
  display: block;
}
.image {
  width: 20rem;
  height: 20rem;
}
.header {
  margin: 3em 0;
}
