@import 'global';

.container { 
    display: flex;
    height: 100vh;
    width: 90%;
    @include themify() {
        background-color: has(clr-bg);
      }
    justify-content: center;
}
.heading {
    display: flex;
    height: 4.5rem;
    width: 100%;
    align-items: center;
    position: relative;
    span {
        margin: 0 1em;
    }
    .blogo {
        height: 4rem;
        width: 4rem;
    }
}