@import "global";

.container {
  position: relative;
  width: 100vw;
  height: $navbarHeight;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 9999;
}
.active {
  @include themify() {
    background-color: has(clr-bg);
  }
}

.nav {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}