@import 'global';

.container { 
    display: flex;
    height: 100vh;
    width: 100%;
    @include themify() {
        background-color: has(clr-bg);
      }
    justify-content: center;
}
.content {
    max-width: map-get($map: $breakpoints, $key: lg);
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    p {
        @include themify(){
            color: has(clr-bg-inverse);
        }
        font-weight: 300;
    }
    h1 {
        @include themify(){
            color: has(clr-text)
        }
    }
}