@import 'global';

.container { 
    display: flex;
    width: 90%;
    height: 90vh;
    align-items: flex-end;

}
.content {
    display: flex;
    width: 100%;
    max-width: has(md);
    h2 {
        @include themify(){
            color: has(clr-bg-inverse)
        }
        font-weight: 300;
        margin-bottom: 5em;
    }
}