@import 'global';

.container { 
    display: flex;
    height: 100vh;
    width: 100%;
    @include themify() {
        background-color: has(clr-bg);
      }
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}