@import "global";

.container {
  position: sticky;
  top: #{calc(2 * $navbarHeight)};
  width: 100%;
  max-width: 40rem;
  height: min-content;
  box-sizing: border-box;
  padding: 1.6rem;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}