@import "global";
.container {
  position: relative;
  margin: 0;
  padding: 0;
  width: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

  a {
    text-decoration: none;
  }

  li {
    &:not(:last-of-type) {
      margin-right: 1em;
    }
  }

  @include respondMax(md) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    transform: translate(0, 0);
    @include themify() {
      background-color: rgba($color: has(clr-bg), $alpha: 1);
    }
    z-index: -1;
  }
}

.ctaItem {
  display: block;
  font-weight: 400;

  padding: 0.5em 1em;
  border-radius: 0.5rem;
  border: 0.1rem solid $clr-neutral-5;
}

.isActive {
  color: $clr-primary;
  border-color: $clr-primary;
}
