@import "global";
.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @include themify() {
    background-color: rgba($color: has(clr-bg), $alpha: 1);
  }

  li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;

    &:not(:last-of-type) {
      margin-right: 1em;
    }
  }
}

.navLink {
  text-decoration: none;
}

.isActive {
  color: orange;
}
